@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --background-main-color: #181818;
  --accent-color: #DC3B5A;
}



body {
  color: var(--primary-color);
  background: var(--background-main-color)
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
