.slick-slider {
  padding: 20px 0 44px 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .slick-slider {
    display: none;
  }
}

.centralMode .slick-slide {
  animation: changeScaleSmall 0.5s forwards;
}

.slick-slider {
  padding: 24px 0;
}

.slick-slider.centralMode,
.slick-slider.over {
  padding: 24px 24px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.slick-arrow.slick-next {
  top: 50%;
  right: 0;
  transform: translate(0);
}
.slick-arrow.slick-prev {
  top: 50%;
  left: 0;
  transform: translate(0);
}

@keyframes changeScaleBig {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes changeScaleSmall {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
.slick-list.dragging {
  cursor: pointer;
}
